<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab">
        <a href="#projects" class="">Projects</a>
      </li>
      <li class="tab">
        <a class="active" href="#certifications">Certifications</a>
      </li>
    <li class="indicator" style="left: 129px; right: 306px;"></li></ul>
  </div>
</nav>

<div id="projects" class="col s12">Test 1</div>
<div id="certifications" class="col s12">Test 2</div>
